<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
<servlet>
<servlet-name>testServlet</servlet-name>
<servlet-class>com.jlcindia.servlets.TestServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>testServlet</servlet-name>
<url-pattern>/test.jlc</url-pattern>
</servlet-mapping>

<listener>
<listener-class>com.jlcindia.listener.MyContextListener</listener-class>
</listener>

<listener>
<listener-class>com.jlcindia.listener.MyContextAttributeListener</listener-class>
</listener>

<listener>
<listener-class>com.jlcindia.listener.MyRequestListener</listener-class>
</listener>

<listener>
<listener-class>com.jlcindia.listener.MySessionListener</listener-class>
</listener>
</web-app>